.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 402px;
  gap: 64px;
  font-weight: 900;
}

@media (max-width: 900px) {
  .navbar {
    display: none;
  }
}
