.productList{
  width: 100%;
  display: grid;
  padding: 32px 96px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

@media (max-width: 900px) {
  .productList {
    padding: 0;
    grid-template-columns: 1fr 1fr;
  }
}